<div class="card">
  <div class="card-header">
        <br/>

  </div>
  <div class="card-body">
    <div class="row">

    </div>

    <form #empForm="ngForm" (ngSubmit)="submitOrder()" >


      <div class="mb-3">
        <label for="fuelStationId" class="form-label">Fuel Station Id</label>
        <input type="text" class="form-control" id="fuelStationId"
        [(ngModel)]="order.fuelStationId" name="fuelStationId"
        >

      </div>

      <div class="mb-3">
          <label for="fuelStationName" class="form-label">Fuel Station Name</label>
          <input type="text" class="form-control" id="fuelStationName"
          [(ngModel)]="order.fuelStationName" name="fuelStationName"
          >

        </div>

        <div class="mb-3">
          <label for="fuelType" class="form-label">Fuel Type</label>
          <input type="text" class="form-control" id="fuelType"
          [(ngModel)]="order.fuelType" name="fuelType"
          >

        </div>

        <div class="mb-3">
          <label for="capacity" class="form-label">Capacity</label>
          <input type="text" class="form-control" id="capacity"
          [(ngModel)]="order.capacity" name="capacity"
          >

        </div>

      <button type="submit" class="btn btn-primary"  [disabled]="!empForm.valid">Submit</button>
    </form>


    </div>

 </div>


