
<div class="card">
  <div class="card-header">
        <br/>


  </div>
  <div class="card-body">
    <div class="row">

      <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Sucessful!</strong>Your Order is recieved. Order refernce ID : {{OrderId}}
        <button (click)="closeAlert()"type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    </div>

    <form #empForm="ngForm" (ngSubmit)="submitOrder()" >


      <div class="mb-3">
        <label for="fuelStationId" class="form-label">Fuel Station Id</label>
        <input type="text" class="form-control" id="fuelStationId"
        [(ngModel)]="order.fuelStationId" name="fuelStationId"
        >

      </div>

      <div class="mb-3">
          <label for="fuelStationName" class="form-label">Fuel Station Name</label>
          <input type="text" class="form-control" id="fuelStationName"
          [(ngModel)]="order.fuelStationName" name="fuelStationName"
          >

        </div>


        <!-- <div class="mb-3" >


    <select class="form-select" name="mySelect"aria-label="Default select example" [(ngModel)]="newEmpLeave.leave.id">


      <option   *ngFor="let item of (data$ | async)" [value]="item.id" >{{item.leaveType}}</option>


    </select>

    </div>-->

        <div class="mb-3">
          <label for="fuelId" class="form-label">Fuel Type</label>
          <select class="form-select" name="mySelect"aria-label="Default select example" [(ngModel)]="order.fuelId">


            <option   *ngFor="let stocks of filteredStock" [value]="stocks.fuelId" >{{stocks.fuelType}}</option>


          </select>

        </div>

        <div class="mb-3">
          <label for="capacity" class="form-label">Capacity</label>
          <input type="text" class="form-control" id="capacity"
          [(ngModel)]="order.capacity" name="capacity"
          >

        </div>

      <button type="submit" class="btn btn-primary"  [disabled]="!empForm.valid">Submit</button>
    </form>


    </div>

 </div>


