
<div class="card">

  <div class="card-header">
    <br/>
  <div class="card-body">
    <div class="row">
      <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Sucessful!</strong>order Id {{orderId}} is dispatched
        <button (click)="closeAlert()"type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
      </div>

      <div class="row g-3"  >
        <div class="col-auto">
          <label for="fuelStationName" class="form-label">Search By Fuel Station </label>
        </div>

        <div class="col-auto">
          <input type="text" class="form-control" [(ngModel)]="fuelStationNameFilter">

        </div>

            </div>


    <div class="table-reponsive">
        <table class="table" *ngIf="orders.length">

          <thead>
            <tr>

              <th>Order Id </th>
              <th>Fuel Station Id</th>
              <th>FuelStation Name</th>
              <th>Fuel Type</th>
              <th>Requested Fuel Capacity</th>
              <th>Order Scheduled Date</th>
              <th>Order Status</th>
              <th>Dispatch</th>

            </tr>
          </thead>

        <tbody>
            <tr *ngFor="let orders of filteredOrders; let i = index">
              <td>{{orders.orderId}}</td>
              <td>{{orders.fuelStationId}}</td>
              <td>{{orders.fuelStationName}}</td>
              <td>{{orders.fuelType}}</td>
              <td>{{orders.capacity}}</td>
              <td>{{orders.scheduleDate}}</td>
              <td>{{orders.status}}</td>
              <td><button class="btn btn-danger" (click)="dispatchOrder(orders.orderId)">dispatch</button></td>

            </tr>
          </tbody>

        </table>


    </div>
  </div>

</div>
